[submodule "android/external/SDL2"]
	path = android/external/SDL2
	url = https://www.github.com/ElonaFoobar/SDL2
[submodule "android/external/SDL2_image"]
	path = android/external/SDL2_image
	url = https://www.github.com/ElonaFoobar/SDL2_image
[submodule "android/external/SDL2_ttf"]
	path = android/external/SDL2_ttf
	url = https://www.github.com/ElonaFoobar/SDL2_ttf
[submodule "android/external/SDL2_mixer"]
	path = android/external/SDL2_mixer
	url = https://www.github.com/ElonaFoobar/SDL2_mixer
[submodule "android/external/lua"]
	path = android/external/lua
	url = https://www.github.com/ElonaFoobar/lua53-android
[submodule "android/external/boost"]
	path = android/external/boost
	url = https://www.github.com/ElonaFoobar/libboost-1.69-android
[submodule "deps/windows"]
	path = deps/windows
	url = https://www.github.com/ElonaFoobar/windows_deps
