* text=auto eol=lf

/runtime/data/font/GenShinGothic/README_GenShin.txt             eol=crlf
/runtime/data/font/GenShinGothic/mplus-TESTFLIGHT-059/LICENSE_J eol=crlf
/runtime/data/font/GenShinGothic/mplus-TESTFLIGHT-059/README_J  eol=crlf
