.DS_Store
*.dump
*.log
bak/

*.o
*.a
bin/
src/version.cpp
src/elona/version.cpp
/*.vcxproj
/*.sln
/*.filters
deps/include/
deps/lib/
deps/elona/
deps/*.zip
deps/*.tar.gz
thirdparty/lib/lua/src/
CMakeFiles/
snail/Debug
snail/snail.dir
snail/snail.vcxproj*
docs/doc/
cmake_install.cmake
GPATH
GRTAGS
GTAGS
.luacheckcache

# Android-related
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries/
.DS_Store
/build/
/captures/
.externalNativeBuild
android/.idea/
android/distribution/
android/app/src/main/assets/
android/gradle.properties
android/external/SDL2/
android/external/SDL2_mixer/
android/external/SDL2_ttf/
android/external/SDL2_image/
android/external/lua/
android/external/boost/
Android.mk
.ccls-cache
compile_commands.json
