.DS_Store
*.dump
*.log
bak/

*.o
*.a
bin/
/version.cpp
/*.vcxproj
/*.sln
/*.filters
deps/include/
deps/lib/
deps/elona/
deps/*.zip
deps/*.tar.gz
thirdparty/lib/lua/src/
CMakeFiles/
snail/Debug
snail/snail.dir
snail/snail.vcxproj*
cmake_install.cmake
GPATH
GRTAGS
GTAGS